conda create -n fgvc python=3.10 -y
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
pip install qwen-vl-utils
pip install requests wikipedia
pip install google-search-results
pip install gradio
pip install tqdm numpy pillow matplotlib json_repair
pip install requests wikipedia
pip install google-search-results
pip install timm 
pip install sentencepiece
pip install matplotlib seaborn pandas




#pip install transformers>=4.49.0 accelerate>=0.26.0 qwen-vl-utils timm sentencepiece
#pip install requests wikipedia google-search-results